<!-- right sidebar -->
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="example-right">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">CategoryFilters</h1>
    </md-toolbar>
    <md-content class="md-padding">
        <p>This is the right sidebar</p>
    </md-content>
</md-sidenav>

<!-- left sidebar -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="example-left">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Filters</h1>
    </md-toolbar>

        <!--        <div>

                    <md-switch ng-model="switches.default" aria-label="Default Switch" ng-init="switches.default = true">
                        Verification Status
                    </md-switch>
                    <md-switch class="md-primary" ng-model="switches.primary" aria-label="Primary Switch"
                               ng-init="switches.primary = true">
                        Spot Hotspots
                    </md-switch>
                    <md-switch class="md-warn" ng-model="switches.warn" aria-label="Warn Switch" ng-init="switches.warn = true">
                        Include Data from ROSIA
                    </md-switch>
                    <md-switch class="md-warn" ng-model="switches.warn" aria-label="Warn Switch" ng-init="switches.warn = true">
                        Spot Transaction of ROSIA
                    </md-switch>

                </div>-->
        <div>
            <md-content>
                <md-list>
                    <div>
                        <!--
                                                <md-subheader class="md-primary"><span>Visualization</span></md-subheader>
                        -->
                        <md-list-item layout="row" layout-align="space-around center">
                            <md-switch class="md-warm"></md-switch>
                            <p style="font-size: 1.5rem;">Verification Status</p>
                        </md-list-item>
                        <md-list-item layout="row" layout-align="space-around center">
                            <md-switch class="md-primary"></md-switch>
                            <p style="font-size: 1.5rem">Spot Hotspots</p>
                        </md-list-item>
                        <md-list-item layout="row" layout-align="space-around center">
                            <md-switch class="md-warm"></md-switch>
                            <p style="font-size: 1.5rem">Include Data from ROSIA</p>
                        </md-list-item>
                        <md-list-item layout="row" layout-align="space-around center">
                            <md-switch class="md-warm"></md-switch>
                            <p style="font-size: 1.5rem">Spot Transaction of ROSIA</p>
                        </md-list-item>


                    </div>
                    <div>
                        <div>
                            <button class="md-raised side-menu-link md-button ng-scope md-cyan-theme md-ink-ripple" ng-transclude="" ng-click="triMenuItem.toggleDropdownMenu()">
                                <!-- ngIf: ::(triMenuItem.item.icon !== undefined) --><md-icon ng-if="::(triMenuItem.item.icon !== undefined)" class="side-menu-icon ng-scope ng-isolate-scope md-cyan-theme md-font zmdi zmdi-trending-up material-icons" md-font-icon="zmdi zmdi-trending-up" aria-hidden="true"></md-icon><!-- end ngIf: ::(triMenuItem.item.icon !== undefined) -->
                                <span translate="" class="ng-scope ng-binding">Location</span>
                                <md-icon class="menu-toggle-icon ng-scope ng-isolate-scope md-cyan-theme md-font zmdi zmdi-chevron-right material-icons" md-font-icon="zmdi zmdi-chevron-right" ng-class="{ open: triMenuItem.item.open }" aria-hidden="true"></md-icon>
                                <div class="md-ripple-container"></div>
                            </button>
                            <ul class="drop-down-list ng-scope ng-show" aria-show="true">
                                <li class="ng-scope">
                                    <div class="ng-scope">
                                        <button class=" md-raised side-menu-link md-button ng-scope md-cyan-theme md-ink-ripple" ng-transclude="" ng-click="triMenuItem.openLink(triMenuItem.item)" ng-class="{ 'md-hue-1': triMenuItem.item.active }">
                                            <span translate="" class="ng-scope ng-binding">Analytics</span>
                                        </button>
                                    </div>
                                </li>
                                <li class="ng-scope">
                                    <div class="ng-scope">
                                        <button class="md-primary md-raised side-menu-link md-button ng-scope md-cyan-theme md-ink-ripple" ng-transclude="" ng-click="triMenuItem.openLink(triMenuItem.item)" ng-class="{ 'md-hue-1': triMenuItem.item.active }">
                                            <span translate="" class="ng-scope ng-binding">Analytics</span>
                                        </button>
                                    </div>
                                </li>
                                <li class="ng-scope">
                                    <div class="ng-scope">
                                        <button class="md-primary md-raised side-menu-link md-button ng-scope md-cyan-theme md-ink-ripple" ng-transclude="" ng-click="triMenuItem.openLink(triMenuItem.item)" ng-class="{ 'md-hue-1': triMenuItem.item.active }">
                                            <span translate="" class="ng-scope ng-binding">Analytics</span>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ng-scope">
                            <button class="md-raised md-primary side-menu-link md-button ng-scope md-cyan-theme md-ink-ripple" ng-transclude="" ng-click="triMenuItem.toggleDropdownMenu()">
                                <!-- ngIf: ::(triMenuItem.item.icon !== undefined) --><md-icon ng-if="::(triMenuItem.item.icon !== undefined)" class="side-menu-icon ng-scope ng-isolate-scope md-cyan-theme md-font zmdi zmdi-trending-up material-icons" md-font-icon="zmdi zmdi-trending-up" aria-hidden="true"></md-icon><!-- end ngIf: ::(triMenuItem.item.icon !== undefined) -->
                                <span translate="" class="ng-scope ng-binding">Category</span>
                                <md-icon class="menu-toggle-icon ng-scope ng-isolate-scope md-cyan-theme md-font zmdi zmdi-chevron-right material-icons" md-font-icon="zmdi zmdi-chevron-right" ng-class="{ open: triMenuItem.item.open }" aria-hidden="true"></md-icon>
                                <div class="md-ripple-container"></div>
                            </button>
                            <ul class="drop-down-list ng-scope ng-show" aria-show="true">
                                <li class="ng-scope">
                                    <div class="ng-scope">
                                        <button class="md-primary md-raised side-menu-link md-button ng-scope md-cyan-theme md-ink-ripple" ng-transclude="" ng-click="triMenuItem.openLink(triMenuItem.item)" ng-class="{ 'md-hue-1': triMenuItem.item.active }">
                                            <span translate="" class="ng-scope ng-binding">Analytics</span>
                                        </button>
                                    </div>
                                </li>
                                <li class="ng-scope">
                                    <div class="ng-scope">
                                        <button class="md-primary md-raised side-menu-link md-button ng-scope md-cyan-theme md-ink-ripple" ng-transclude="" ng-click="triMenuItem.openLink(triMenuItem.item)" ng-class="{ 'md-hue-1': triMenuItem.item.active }">
                                            <span translate="" class="ng-scope ng-binding">Analytics</span>
                                        </button>
                                    </div>
                                </li>
                                <li class="ng-scope">
                                    <div class="ng-scope">
                                        <button class="md-primary md-raised side-menu-link md-button ng-scope md-cyan-theme md-ink-ripple" ng-transclude="" ng-click="triMenuItem.openLink(triMenuItem.item)" ng-class="{ 'md-hue-1': triMenuItem.item.active }">
                                            <span translate="" class="ng-scope ng-binding">Analytics</span>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </md-list>
            </md-content>
        </div>


        <p>This is the left sidebar</p>
</md-sidenav>

<!-- open sidebar buttons
<div layout="column" layout-fill layout-align="center center">
    <h2>Click a button to see a sidebar in action</h2>
    <div layout="row">
        <md-button class="md-primary md-raised" ng-click="vm.openSidebar('example-left')">Show Left</md-button>
        <md-button class="md-primary md-raised" ng-click="vm.openSidebar('example-right')">Show Right</md-button>
    </div>
</div>-->


<!--
<div style="position: absolute; z-index: 99; width: 95%">
    <md-fab-toolbar class="md-left">
        <md-fab-trigger class="align-with-text">
            <md-button class="md-fab md-warn" aria-label="fab button">
                <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
            </md-button>
        </md-fab-trigger>

        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
                <md-button aria-label="insert file" class="md-icon-button">
                    <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                </md-button>
                <md-button aria-label="insert photo" class="md-icon-button">
                    <md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
                </md-button>
                <md-button aria-label="insert chart" class="md-icon-button">
                    <md-icon md-font-icon="zmdi zmdi-fullscreen"></md-icon>
                </md-button>

                <md-button aria-label="insert chart" class="md-icon-button">
                    <md-icon md-font-icon="zmdi zmdi-grid"></md-icon>
                </md-button>
                <md-button aria-label="insert event" class="md-icon-button">
                    <md-icon md-font-icon="zmdi zmdi-search-for"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-toolbar>

    </md-fab-toolbar>
    <md-card flex="35">
        <md-card-content>
            <div>
                <md-input-container md-no-float>
                    <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
                    <input type="text" placeholder="Search Outlets">
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
</div>
-->
<div style="position: absolute; z-index: 9; width: 95%; top:40px;">
    <md-data-table-toolbar style="background: none;">
        <md-card flex="35">
            <md-card-content>
                <div>
                    <md-input-container md-no-float>
                        <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
                        <input type="text" placeholder="Search Outlets">
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>


        <div flex></div>

        <md-fab-toolbar class="md-left">

            <md-fab-trigger class="align-with-text">
                <md-button class="md-fab md-warn" aria-label="fab button" ng-click="vm.filter.show = true">
                    <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-toolbar>
                <md-fab-actions class="md-toolbar-tools">
                    <md-button aria-label="insert file" class="md-icon-button">
                        <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                    </md-button>
                    <md-button aria-label="insert photo" class="md-icon-button">
                        <md-icon ng-click="vm.openSidebar('example-left')"
                                 md-font-icon="zmdi zmdi-filter-list"></md-icon>
                    </md-button>
                    <md-button aria-label="insert chart" class="md-icon-button">
                        <md-icon md-font-icon="zmdi zmdi-fullscreen"></md-icon>
                    </md-button>
                    <md-button aria-label="insert event" class="md-icon-button">
                        <md-icon md-font-icon="zmdi zmdi-search-for"></md-icon>
                    </md-button>
                </md-fab-actions>
            </md-toolbar>
        </md-fab-toolbar>

        <!--        <md-button class="md-icon-button" ng-click="vm.filter.show = true">
                    &lt;!&ndash; <i class="material-icons md-dark">filter_list</i> &ndash;&gt;
                    <md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
                </md-button>-->


    </md-data-table-toolbar>
</div>
<div id="map_terrain_canvas">
    <ui-gmap-google-map center="vm.terrainMap.center" zoom="vm.terrainMap.zoom" options="vm.terrainMap.options">
        <ui-gmap-marker coords="vm.terrainMap.marker.coords" idkey="vm.terrainMap.marker.id"
                        options="vm.terrainMap.marker.options"></ui-gmap-marker>
    </ui-gmap-google-map>
</div>
