<md-dialog aria-label="Mango (Fruit)" flex="30" flex-sm="100">
    <md-toolbar md-theme="{{triSkin.elements.content}}">
        <div class="md-toolbar-tools">
            <h2>
                <span>{{::vm.dialogData.title}}</span>
            </h2>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-dialog-content class="sticky-container">
        <div>
            <form name="taskForm" novalidate>
                <md-input-container>
                    <label translate> Title</label>
                    <input ng-model="vm.item.title" class="dialog-close" name="task" required></input>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            <span>Please Enter the Title</span>
                        </div>
                    </div>
                </md-input-container>

                 <md-input-container>
                    <label translate> Description</label>
                    <input ng-model="vm.item.description" class="dialog-close" name="task" required></input>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            <span>Please Enter Description</span>
                        </div>
                    </div>
                </md-input-container>

                <md-select placeholder="Select Resource" ng-model="vm.item.resource_id" md-on-open="loadUsers()"
                           style="min-width: 200px;">
                    <md-option ng-value="resources.id_resource" ng-repeat="resources in vm.resources">{{resources.title}}</md-option>
                </md-select>


                <md-select placeholder="Select Product" ng-model="vm.item.product_id" md-on-open="loadUsers()"
                           style="min-width: 200px;">
                    <md-option ng-value="product.id_resource" ng-repeat="product in vm.resources">{{product.title}}</md-option>
                </md-select>
            </form>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="vm.cancel()">Cancel</md-button>
        <md-button ng-click="vm.hide()" class="md-primary" ng-disabled="taskForm.$invalid">Ok</md-button>
    </div>
</md-dialog>
