<div class="padded-content-page">
    <div ng-controller="ProjectController as vm">
        <md-data-table-toolbar ng-show="vm.filter.show && !vm.selected.length" class="md-data-table-toolbar">
            <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
            <form flex="" name="vm.filter.form">
                <input type="text" ng-model="vm.query.filter" ng-model-options="vm.filter.options" placeholder="search">
            </form>
            <md-button class="md-icon-button" ng-click="vm.removeFilter()">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </md-data-table-toolbar>

        <md-data-table-container>
            <table md-data-table class="md-primary md-data-table" md-progress="vm.deferred">
                <thead md-order="vm.query.order" md-trigger="vm.getPrincipal">
                <tr>
                    <th order-by="title" name="Title"></th>
                    <th order-by="description" name="Description"></th>
                    <th order-by="description" name="Resource"></th>
                    <th order-by="description" name="Product"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr md-auto-select ng-repeat="project in vm.project">
                    <td>{{project.title}}</td>
                    <td>{{project.description}}</td>
                    <td>{{project.resource_id}}</td>
                    <td>{{project.product_id}}</td>
                    <td>
                        <!--  <td>{{::user.created_at | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</td>-->
                        <md-menu>
                            <md-button class="md-icon-button" aria-label="open menu"
                                       ng-click="$mdOpenMenu()">
                                <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                            </md-button>
                        </md-menu>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-data-table-container>
        </md-data-table-container>
        <md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.project.length}}">

        </md-data-table-pagination>


    </div>
</div>
