<md-dialog aria-label="Mango (Fruit)" flex="30" flex-sm="100">
    <md-toolbar md-theme="{{triSkin.elements.content}}">
        <div class="md-toolbar-tools">
            <h2>
                <span>{{::vm.dialogData.title}}</span>
            </h2>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-dialog-content class="sticky-container">
        <div>
            <form name="taskForm" novalidate>
                <md-input-container>
                    <label translate> Title</label>
                    <input ng-model="vm.item.title" class="dialog-close" name="task" required></input>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            <span>Please Enter the Title</span>
                        </div>
                    </div>
                </md-input-container>

            </form>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="vm.cancel()">Cancel</md-button>
        <md-button ng-click="vm.hide()" class="md-primary" ng-disabled="taskForm.$invalid">Ok</md-button>
    </div>
</md-dialog>
