<div class="todo-container">

    <div ng-if="vm.showMap" id="route-map-view" layout-fill layout="row" layout-align="center center">
        <tri-widget flex="95" flex-sm="90" class="margin-top-30 margin-bottom-30" title="" content-layout="column"
                    content-layout-align="center">
            <div class="padded-content-page">
                <div ng-include="'app/examples/sales/routeAndOutlet/route/map/route-map.tmpl.html'">
                </div>
            </div>
        </tri-widget>
    </div>

    <div id="route-list-view" layout-fill layout="row" layout-align="center center">
        <tri-widget flex="95" flex-sm="90" class="margin-top-30 margin-bottom-30" title="" content-layout="column"
                    content-layout-align="center">
            <div>
                <div ng-include="'app/examples/sales/routeAndOutlet/route/routeList/route-list.tmpl.html'"></div>
            </div>
        </tri-widget>
    </div>
</div>




