<div class="todo-container">
    <div id="orderDom" layout-fill layout="row" layout-align="center center">
        <tri-widget flex="95" flex-sm="90" class="margin-top-30 margin-bottom-30" title="" content-layout="column"
                    content-layout-align="center">
            <md-tabs class="md-cyan-theme md-dynamic-height" md-selected="selectedTabIndex" md-stretch-tabs="always" md-border-bottom>
                <md-tabs-wrapper ng-repeat="status in vm.orderStatus">
                    <md-tab  ng-click="vm.status(vm.orderStatus.indexOf(status))"  label="{{status.title}} ({{(playersToFilter(status.id_order_status) | filter:filterTeams).length}})">
                        <md-data-table-container>
                            <table md-data-table class="md-data-table" md-progress="vm.deferred">
                                <thead md-order="vm.query.order" md-trigger="vm.retailOutlets">
<tr>
                                    <th name="GID" order-by="id_distributor"></th>
                                    <th name="Outlet Name" order-by="title"></th>
                                    <th name="Sales Representative" order-by="description"></th>
                                    <th name="Route" order-by="status"></th>
                                    <th name="Date" order-by="created_at" decend-first></th>
                                    <th name="Order Value" order-by="price" decend-first></th>
                                    <th name="Distributor" order-by="created_at" decend-first></th>
                                    <th class="nopadding table-nopadding-child ng-isolate-scope">
                                        <md-menu>
                                            <md-button class="md-icon-button" aria-label="open menu"
                                                       ng-click="$mdOpenMenu()">
                                                <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                            </md-button>
                                            <md-menu-content width="3">
                                                <md-menu-item>
                                                    <md-button ng-click="vm.filterSalesOrder(vm.orderStatus.indexOf(status))">
                                                        <md-icon md-font-icon="zmdi zmdi-settings"></md-icon>
                                                        Date Range Filter
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-click="$mdCloseMenu">
                                                        <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                                                        Add Orders
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="playerPerTeam in playersToFilter(status.id_order_status) | filter:filterTeams">
                                <tr  ng-click="vm.toggleInnerTable($event,{{status.id_order_status-playerPerTeam.GID}},this)">
                                    <td>{{playerPerTeam.GID}}</td>
                                    <td>
                                        <!--<span class="icon-dashboard">A</span>-->
                                        <span>{{playerPerTeam.retail_outlet_title}}</span>
                                        <small class="table-menu-badge">{{(players | filter:{GID: playerPerTeam.GID}).length }}
                                        </small>
                                    </td>
                                    <td> Sabin Shrestha </td>
                                    <td> Kotre Gagangauda</td>
                                    <td>{{playerPerTeam.created_at| date:'MMM dd ,yyyy'}}</td>
                                    <td> {{ sum((players | filter:{GID: playerPerTeam.GID}), false)}}</td>
                                    <td> Unique Traders</td>
                                    <td>
                                        <md-menu>
                                            <md-button class="md-icon-button" aria-label="open menu"
                                                       ng-click="$mdOpenMenu()">
                                                <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                            </md-button>
                                            <md-menu-content width="3">
                                                <md-menu-item>
                                                    <md-button ng-click="$mdCloseMenu">
                                                        <md-icon md-font-icon="zmdi zmdi-settings"></md-icon>
                                                       Filters
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-click="$mdCloseMenu">
                                                        <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                                                        Manage
                                                    </md-button>
                                                </md-menu-item>

                                            </md-menu-content>
                                        </md-menu>
                                    </td>
                                </tr>

                                <tr id="{{status.id_order_status-playerPerTeam.GID}}" class="hide" >
                                    <td colspan="8" style="background: #ffffff; padding: 0px;">
                                        <md-data-table-container>
                                            <table md-data-table class="md-primary md-data-table"
                                                   md-progress="vm.retailOutlets">
                                                <thead md-order="vm.query.order" md-trigger="vm.retailOutlets">
                                                <tr style="background-color:#F5F5F5">
                                                    <th class="table-nopadding-child" class="ng-isolate-scope">
                                                        <md-checkbox ng-model="vm.checked"  ng-click="vm.selectAll((players | filter:{GID: playerPerTeam.GID}))" aria-label="Default Checkbox">
                                                        </md-checkbox>
                                                    </th>
                                                    <th name="OrderID" order-by="id_sales_order"></th>
                                                    <th name="SKU" order-by="sku_id"></th>
                                                    <th name="Quantity" order-by="quantity"></th>
                                                    <th name="Rate" order-by="sku_price"></th>
                                                    <th name="Order Value" order-by="price" decend-first></th>
                                                    <th class="table-nopadding-child" name=""></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <div style="padding: 0 28px 0 24px;">
                                                    <tr  ng-repeat="player in players | filter:{GID: playerPerTeam.GID}">
                                                        <td>

                                                      <md-checkbox  aria-label="Default Checkbox"
                                                                          ng-checked="vm.exists(player, vm.selected)" ng-click="vm.toggle(player, vm.selected,(players | filter:{GID: playerPerTeam.GID}))">
                                                            </md-checkbox>
                                                        </td>
                                                        <td>{{player.GID}}-{{player.id_sales_order}}</td>
                                                        <td> {{player.sku_title}}</td>
                                                        <td style="text-align: center;">{{player.quantity}}</td>
                                                        <td style="text-align: center;">{{player.price}}</td>
                                                        <td style="text-align: center;">15,478.80</td>
                                                        <td style="padding: 0px;">
                                                            <md-menu>
                                                                <md-button class="md-icon-button" aria-label="open menu"
                                                                           ng-click="$mdOpenMenu()">
                                                                    <md-icon
                                                                            md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                                                </md-button>
                                                                <md-menu-content width="3">
                                                                    <md-menu-item>
                                                                        <!--ng-click="vm.UpdateRetailOutlet(vm.retailoutlets.indexOf(retailOutlet))">-->
                                                                        <md-button ng-click="vm.modifySalesOrder(players.indexOf(player))">
                                                                            <md-icon
                                                                                    md-font-icon="zmdi zmdi-settings"></md-icon>
                                                                            Modify
                                                                        </md-button>
                                                                    </md-menu-item>
                                                                    <md-menu-item>
                                                                        <md-button ng-click="vm.cancelSalesOrder(players.indexOf(player))">
                                                                            <md-icon
                                                                                    md-font-icon="zmdi zmdi-account"></md-icon>
                                                                            Cancel
                                                                        </md-button>
                                                                    </md-menu-item>
                                                                    <md-menu-divider></md-menu-divider>
                                                                    <md-menu-item>
                                                                        <md-button ng-click="$mdCloseMenu">
                                                                            <md-icon
                                                                                    md-font-icon="zmdi zmdi-sign-in"></md-icon>
                                                                            Quantity
                                                                        </md-button>
                                                                    </md-menu-item>
                                                                </md-menu-content>
                                                            </md-menu>
                                                        </td>
                                                    </tr>

                                </tbody>
                                </table>
                            </md-data-table-container>
                                        <div style="background-color:#F5F5F5; text-align: right; position:relative;">

                                            <md-button style="color:blue;"  ng-click="vm.toggleInnerTable($event,{{status.id_order_status-playerPerTeam.GID}},this)" aria-label="flat button" >DONE</md-button>
                                            <md-button style="color:red"  ng-click = "vm.markAs(status.id_order_status)"  ng-class="md-primary" aria-label="flat button">
                                                {{nameStatus(status.id_order_status)}}
                                            </md-button>

                    </md-tab>

                </md-tabs-wrapper>
            </md-tabs>
        </tri-widget>

    </div>
</div>


<!--<div ng-app ng-controller="Main">
    <div ng-repeat="playerPerTeam in playersToFilter() | filter:filterTeams">
        <b>{{playerPerTeam.team}}</b>
        <li ng-repeat="player in players | filter:{team: playerPerTeam.team}">{{player.name}}</li>
    </div>
</div>-->