<div ng-controller="RouteMapController as vm">
    <section>
        {{parameter.title}}<br/>
        {{parameter.channel}}/{{parameter.category}}<br/>

        <md-button style="line-height: 25px; min-height: 22px;
    background: #FF5722;
    color: #fff;" class="md-raised" ng-click="vm.addOutletToRoute({{parameter.id}})">

        <span style="    font-size: 10px;
    font-weight: 400;
    line-height: 7px !important;
    /* min-height: 9px !important; */
    padding: 0px;"
        >Add to Route</span></md-button>
    </section>
    <!--    Template ID: {{parameter.id}}
        Shop title : {{parameter.title}}
        Channel :{{parameter.channel}}-->
</div>