<md-card-content class="maps-example" ng-controller="RouteMapController as vm">

    <!-- left sidebar -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="example-left">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Filters</h1>
        </md-toolbar>
        <md-content class="padding-20">
            <div layout="row" layout-wrap flex>
                <div ng-repeat="town in vm.towns">
                    <md-checkbox ng-checked="vm.exists(town, vm.selected)" ng-click="vm.toggle(town, vm.selected)">
                        {{ town.title }}
                    </md-checkbox>
                </div>
            </div>
            <md-button class="md-raised" ng-click="vm.populateOutlets()" ng-class="md-primary"
                       aria-label="raised button">Apply Filter
            </md-button>

            <!--     {{vm.selected}}-->
        </md-content>
    </md-sidenav>

    <div style="position: absolute; z-index: 10; width: 35%; top:40px; right:20px;">
        <md-fab-toolbar class="md-left">
            <md-fab-trigger class="align-with-text">
                <md-button class="md-fab md-warn" aria-label="fab button" ng-click="vm.filter.show = true">
                    <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-toolbar>
                <md-fab-actions class="md-toolbar-tools">
                    <!--                    <md-button aria-label="insert file" class="md-icon-button">
                                            <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                        </md-button>-->
                    <md-button ng-click="vm.openSidebar('example-left')" aria-label="insert photo"
                               class="md-icon-button">
                        <md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
                    </md-button>
                    <!--
                                        <md-button aria-label="insert chart" class="md-icon-button">
                                            <md-icon md-font-icon="zmdi zmdi-fullscreen"></md-icon>
                                        </md-button>
                                        <md-button aria-label="insert event" class="md-icon-button">
                                            <md-icon md-font-icon="zmdi zmdi-search-for"></md-icon>
                                        </md-button>-->
                </md-fab-actions>
            </md-toolbar>
        </md-fab-toolbar>
    </div>
    <div style="position: absolute; z-index: 10; width: 35%; top:40px;">
        <!--        <md-card flex="100">
                    <md-card-content>
                        <div>
                            <md-input-container md-no-float>
                                <md-icon md-font-icon="zmdi zmdi-search" ng-click="vm.changeMarker()"></md-icon>
                                <input type="text" placeholder="Search Outlets">
                            </md-input-container>
                        </div>
                    </md-card-content>
                </md-card>-->
        <md-card ng-if="vm.showList" flex="100">
            <md-card-content>

                <md-data-table-container>

                    <h4>Select Route</h4>

                    <table md-data-table class="md-primary md-data-table">
                        <tbody ng-repeat="route in vm.routes| limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                        <tr>
                            <td ng-click="vm.selectRoute(route)">
                                {{route.title}} <br>
                                {{route.retail_outlets.length}} Outlets
                            </td>
                            <td>Next Schedule <br/> {{route.retail_outlet_counts}}</td>
                            <td>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </md-data-table-container>


                <md-data-table-pagination md-limit="vm.query.limit"
                                          md-total="{{vm.routes.length}}"></md-data-table-pagination>

            </md-card-content>
        </md-card>

        <md-card ng-if="vm.showOutletList">
            <md-toolbar class="toolbar-default">
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Add outlets to route</span>
                    </h2>
                </div>
            </md-toolbar>
            <md-card-content style="padding: 0px">
                <div style="padding: 0px 20px;">
                    <p>
                        {{vm.selectedRoute.title}}</br>
                        Koteshwor Route 1
                    </p>
                </div>
                <div style="background: #f5f5f5;">
                    <h4 style="padding: 10px 20px; ">Outlets</h4>
                        <md-data-table-container>
                            <table style="background: #F5F5F5;" md-data-table class="md-primary md-data-table">
                                <tbody>
                                <tr ng-repeat="retailoutlet in vm.selectedRoute.retail_outlets">
                                    <td>{{retailoutlet.retailoutlet_title}}</td>
                                    <td>{{retailoutlet.category_title}}</td>
                                    <td>{{retailoutlet.channel_title}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </md-data-table-container>
                </div>

            </md-card-content>

        </md-card>
    </div>

    <!--    <div flex></div>-->

    <!--        <md-button class="md-icon-button" ng-click="vm.filter.show = true">
                &lt;!&ndash; <i class="material-icons md-dark">filter_list</i> &ndash;&gt;
                <md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
            </md-button>-->
    </div>

    <div id="map_terrain_canvas">
        <ui-gmap-google-map center="vm.terrainMap.center"
                            click="onClick"
                            zoom="vm.terrainMap.zoom"
                            options="vm.terrainMap.options">
            <ui-gmap-markers models="vm.randomMarkers" idKey="'id'" events="vm.markersEvents" coords="'self'"
                             icon="'icon'">

                <ui-gmap-window
                        show="vm.showMarker"
                        coords="vm.selectedMarker"
                        templateUrl="'app/examples/sales/routeAndOutlet/route/map/infowindow.tpl.html'"
                        templateParameter="vm.selectedMarker"
                        options="vm.options"
                        ng-cloak>
                </ui-gmap-window>


            </ui-gmap-markers>



            <ui-gmap-polyline ng-repeat="p in vm.polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                              geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>

        </ui-gmap-google-map>


        <!--            <ui-gmap-window coords="vm.selectedMarker" show="show" closeClick="closeClick()">
                        <div>Hello</div>
                    </ui-gmap-window>-->
    </div>
    <div>
        {{vm.polylineJoins()}}
    </div>

</md-card-content>
