<div class="todo-container">
    <div id="orderDom" layout-fill layout="row" layout-align="center center">
        <tri-widget flex="95" flex-sm="90" class="margin-top-30 margin-bottom-30" title="" content-layout="column"
                    content-layout-align="center">

            <md-tabs class="md-cyan-theme md-dynamic-height" md-selected="selectedTabIndex" md-stretch-tabs="always" md-border-bottom>
                <md-tabs-wrapper>
                    <md-tab label="Retail Outlet Information">
                        <md-data-table-container>
                            <table md-data-table class="md-data-table" md-progress="vm.deferred">
                                <thead md-order="vm.query.order" md-trigger="vm.getDistributors">
                                <tr>

                                    <th name="GID" order-by="gid"></th>
                                    <th name="SKU" order-by="sku_title"></th>
                                    <th name="Quantity" order-by="quantity"></th>
                                    <th name="Rate" order-by="rate"></th>
                                    <th name="Order Value" order-by="price" decend-first></th>
                                    <th name="Order Status" order-by="order_status_id"></th>
                                    <th name="Date" order-by="created_at" decend-first></th>
                                    <th class="nopadding table-nopadding-child ng-isolate-scope">
                                        <md-menu>
                                            <md-button class="md-icon-button" aria-label="open menu"
                                                       ng-click="$mdOpenMenu()">
                                                <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                            </md-button>
                                            <md-menu-content width="3">
                                                <md-menu-item>
                                                    <md-button ng-click="$mdCloseMenu">
                                                        <md-icon md-font-icon="zmdi zmdi-settings"></md-icon>
                                                        Date Range
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-click="$mdCloseMenu">
                                                        <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                                                        Add Orders
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-divider></md-menu-divider>
                                                <md-menu-item>
                                                    <md-button ng-click="$mdCloseMenu">
                                                        <md-icon md-font-icon="zmdi zmdi-sign-in"></md-icon>
                                                        Filter
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="saleOrder in vm.salesOrders">
                                    <td><span>{{saleOrder.GID}}</span>
                                        <!--<small class="table-menu-badge">12</small>-->
                                    </td>
                                    <td>{{saleOrder.sku_title}}</td>
                                    <td>{{saleOrder.quantity}}</td>
                                    <td>{{saleOrder.rate}}</td>
                                    <td>{{saleOrder.price}}</td>
                                    <td>{{saleOrder.order_status_title}}</td>
                                    <td>{{saleOrder.created_at}}</td>
                                    <td>
                                        <md-menu>
                                            <md-button class="md-icon-button" aria-label="open menu"
                                                       ng-click="$mdOpenMenu()">
                                                <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                            </md-button>
                                            <md-menu-content width="3">
                                                <md-menu-item>
                                                    <md-button ng-click="$mdCloseMenu">
                                                        <md-icon md-font-icon="zmdi zmdi-settings"></md-icon>
                                                        Settings
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-click="$mdCloseMenu">
                                                        <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                                                        Profile
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-divider></md-menu-divider>
                                                <md-menu-item>
                                                    <md-button ng-click="$mdCloseMenu">
                                                        <md-icon md-font-icon="zmdi zmdi-sign-in"></md-icon>
                                                        Log out
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page"
                                                      md-total="{{vm.salesOrder.length}}"></md-data-table-pagination>
                        </md-data-table-container>
                    </md-tab>

                    <md-tab label="Order from Retail Outlets">
                        <div class="container">

                            <div layout="row" layout-md="column" layout-sm="column" layout-margin>

                                <tri-widget class="" title="" content-layout="column"
                                            content-layout-align="center">

                                    <h3>{{vm.retailOutlet.retailoutlet_title}}</h3>

                                    <p> Owner Name : <b>{{vm.retailOutlet.contact_name}}</b>
                                        Phone Number: {{vm.retailOutlet.contact_number1}}
                                        Channel:{{vm.retailOutlet.channel_title}}
                                        Category:{{vm.retailOutlet.category_title}}
                                        Town:{{vm.retailOutlet.town_title}}</p>

                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th ng-repeat="header in ::social.header | limitTo:3">{{::header}}</th>
                                        </tr>
                                        </thead>
                                        <tbody class="md-caption">
                                        <tr ng-repeat="socialData in ::social.data | limitTo:5">
                                            <td ng-repeat="data in ::socialData | limitTo:3">{{::data}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </tri-widget>

                                <tri-widget  class="" google-geochart-widget flex title="{{vm.retailOutlet}}" title-position="top" content-padding>
                                    <div class="google-chart" google-chart chart="geoChartData"></div>
                                </tri-widget>

                            </div>
                            <div layout="row" layout-md="column" layout-sm="column" layout-margin>

                            </div>
                        </div>

                    </md-tab>
                </md-tabs-wrapper>
            </md-tabs>
        </tri-widget>

    </div>
</div>

