<md-dialog aria-label="Mango (Fruit)" flex="30" flex-sm="100">
    <md-toolbar md-theme="{{triSkin.elements.content}}">
        <div class="md-toolbar-tools">
            <h2>
                <span>{{::vm.dialogData.title}}</span>
            </h2>
        </div>
    </md-toolbar>

    <md-divider></md-divider>
    <md-dialog-content class="sticky-container">
        <div>
            <form name="taskForm" novalidate>
                <md-input-container>
                    <label translate>Retail Title</label>
                    <input ng-model="vm.item.title" class="dialog-close" name="task" required></input>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            <span>Please Enter the Title</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label translate>Contact Number1</label>
                    <input ng-model="vm.item.contact_number1" class="dialog-close" name="task" required></input>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            <span>Please Enter the Contact Number</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label translate>Contact Number2</label>
                    <input ng-model="vm.item.contact_number2" class="dialog-close" name="task" required></input>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            <span>Please Enter the Contact Number</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label translate>Contact Name</label>
                    <input ng-model="vm.item.contact_name" class="dialog-close" name="task" required></input>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            <span>Please Enter the Contact Name</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label translate>Channel</label>
                    <md-select placeholder="Channel"
                               ng-model="vm.item.channel_id"
                               class="dialog-close" name="task"
                               required>
                        <md-option data-ng-init="init()" ng-repeat="channel in vm.channels"
                                   value="{{channel.id_channel}}">{{channel.title}}
                        </md-option>
                    </md-select>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            <span>Please Select the Channel</span>
                        </div>
                    </div>
                </md-input-container>


                <md-input-container>
                    <label translate>Category</label>
                    <md-select placeholder="Category"
                               ng-model=" vm.item.category_id"
                               class="dialog-close" name="task"
                               required>
                        <md-option data-ng-init="init()" ng-repeat="category in vm.categories"
                                   value="{{category.id_category}}">{{category.title}}
                        </md-option>
                    </md-select>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            <span>Please Select the Category</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label translate>Town</label>
                    <md-select placeholder="Town"
                               ng-model=" vm.item.town_id"
                               class="dialog-close" name="task"
                               required>
                        <md-option data-ng-init="init()" ng-repeat="town in vm.towns"
                                   value="{{town.id_town}}">{{town.title}}
                        </md-option>
                    </md-select>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            <span>Please Select the Town</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label translate>PAN Number</label>
                    <input ng-model="vm.item.PAN_number" class="dialog-close" name="task" required></input>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            <span>Please Enter the PAN Number</span>
                        </div>
                    </div>
                </md-input-container>

            </form>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="vm.cancel()">Cancel</md-button>
        <md-button ng-click="vm.hide()" class="md-primary" ng-disabled="taskForm.$invalid">Ok
        </md-button>
    </div>
</md-dialog>

</form>
</div>
