<div ng-controller="TablesAdvancedController as vm">

    <md-data-table-toolbar>
        <h4 class="md-title">Outlet List</h4>

        <div flex></div>

        <md-fab-toolbar class="md-left">

            <md-fab-trigger class="align-with-text">
                <md-button class="md-fab md-warn" aria-label="fab button" ng-click="vm.filter.show = true">
                    <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-toolbar>
                <md-fab-actions class="md-toolbar-tools">
                    <md-button aria-label="insert file" class="md-icon-button">
                        <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                    </md-button>
                    <md-button aria-label="insert photo" class="md-icon-button">
                        <md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
                    </md-button>
                    <md-button ng-click="vm.viewMap()" aria-label="insert chart" class="md-icon-button">
                        <md-icon md-font-icon="zmdi zmdi-fullscreen"></md-icon>
                    </md-button>
                    <md-button aria-label="insert event" class="md-icon-button">
                        <md-icon md-font-icon="zmdi zmdi-search-for"></md-icon>
                    </md-button>
                </md-fab-actions>
            </md-toolbar>
        </md-fab-toolbar>

        <!--        <md-button class="md-icon-button" ng-click="vm.filter.show = true">
                    &lt;!&ndash; <i class="material-icons md-dark">filter_list</i> &ndash;&gt;
                    <md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
                </md-button>-->


    </md-data-table-toolbar>


    <md-data-table-toolbar ng-show="vm.filter.show && !vm.selected.length" class="md-data-table-toolbar">
        <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
        <form flex="" name="vm.filter.form">
            <input type="text" ng-model="vm.query.filter" ng-model-options="vm.filter.options"
                   placeholder="search">
        </form>
        <md-button class="md-icon-button" ng-click="vm.removeFilter()">
            <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
        </md-button>
    </md-data-table-toolbar>

    <md-data-table-toolbar class="alternate" ng-show="vm.selected.length" layout-align="space-between">
        <div>{{vm.selected.length}} {{vm.selected.length > 1 ? 'users' : 'user'}} selected</div>
    </md-data-table-toolbar>

    <md-data-table-container>
        <table md-data-table class="md-primary md-data-table"
               md-progress="vm.deferred">
            <thead md-order="vm.query.order" md-trigger="vm.getUsers">
            <tr>
                <th name="Outlet Name"></th>
                <th name="Channel/Category"></th>
                <th order-by="town" name="Town"></th>
                <th name="Location"></th>
                <th name="Edit"></th>

            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="retailOutlet in vm.retailoutlets">
                <td ng-click="vm.detailView(retailOutlet)">{{retailOutlet.retailoutlet_title}}</td>
                <td>{{retailOutlet.channel_title}}/{{retailOutlet.category_title}}</td>
                <td>{{retailOutlet.town_title}}</td>
                <td>{{retailOutlet.title}}</td>
                <td>
                    <md-button class="md-icon-button" aria-label="open menu"
                               ng-click="vm.UpdateRetailOutlet(vm.retailoutlets.indexOf(retailOutlet))">
                        <md-icon
                                md-font-icon="zmdi zmdi-more-vert"></md-icon>
                    </md-button>
                </td>

            </tr>
            </tbody>
        </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page"
                              md-total="{{vm.users.total_count}}"
                              md-trigger="vm.getUsers"></md-data-table-pagination>
</div>
