<div class="todo-container">
    <div id="retail-outlet-map-view" layout-fill layout="row" layout-align="center center">
        <tri-widget  flex="95" flex-sm="90" class="margin-top-30 margin-bottom-30" title="" content-layout="column"
                    content-layout-align="center">
            <div class="padded-content-page">
                <md-card-content class="maps-example" ng-controller="MapTerrainDemoController as vm"
                                 ng-include="'app/examples/sales/routeAndOutlet/retailOutlets/maps/map-terrain-demo.tmpl.html'">
                </md-card-content>
            </div>
        </tri-widget>
    </div>

    <div id="retail-outlet-list-view" layout-fill layout="row" layout-align="center center">

        <tri-widget flex="95" flex-sm="90" class="margin-top-30 margin-bottom-30" title="" content-layout="column"
                    content-layout-align="center">
                    <div
                         ng-include="'app/examples/sales/routeAndOutlet/retailOutlets/retailOutletList/retail-outlet-list.tmpl.html'">
                    </div>
        </tri-widget>
    </div>
</div>




