<md-dialog aria-label="Mango (Fruit)" flex="30" flex-sm="100">
    <md-toolbar md-theme="{{triSkin.elements.content}}">
        <div class="md-toolbar-tools">
            <h2>
                <span>{{::vm.dialogData.title}}</span>
            </h2>
        </div>
    </md-toolbar>

    <md-divider></md-divider>
    <md-dialog-content class="sticky-container">
        <div>
            <form name="taskForm" novalidate>
                <md-input-container>
                    <label translate>Route Title</label>
                    <input ng-model="vm.item.title" class="dialog-close" name="task" required></input>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            <span>Please Enter the Title</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label translate>Route Visit Category</label>
                    <md-select placeholder="Route Visit Category"
                               ng-model="vm.item.route_visit_category_id"
                               class="dialog-close" name="task"
                               required>
                        <!-- <md-option data-ng-init="init()" ng-repeat="channel in vm.channels"
                                    value="{{channel.id_channel}}">{{channel.title}}
                         </md-option>-->

                        <md-option value="1">One</md-option>
                        <md-option value="2">Two</md-option>
                        <md-option value="3">Three</md-option>
                        <md-option value="4">Four</md-option>
                        <md-option value="5">Five</md-option>
                    </md-select>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            <span>Please Select  Route Visit Category</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label translate>Route Visit Type</label>
                    <md-select placeholder="Route Visit Type"
                               ng-model="vm.item.route_visit_type_id"
                               class="dialog-close" name="task"
                               required>

                        <md-option value="1">One</md-option>
                        <md-option value="2">Two</md-option>
                        <md-option value="3">Three</md-option>
                        <md-option value="4">Four</md-option>
                        <md-option value="5">Five</md-option>
                        <!-- <md-option data-ng-init="init()" ng-repeat="channel in vm.channels"
                                    value="{{channel.id_channel}}">{{channel.title}}
                         </md-option>-->
                    </md-select>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            <span>Route Visit Type</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label translate>Route Delivery Type</label>
                    <md-select placeholder="Visit Type"
                               ng-model="vm.item.route_delivery_type_id"
                               class="dialog-close" name="task"
                               required>

                        <md-option value="1">One</md-option>
                        <md-option value="2">Two</md-option>
                        <md-option value="3">Three</md-option>
                        <md-option value="4">Four</md-option>
                        <md-option value="5">Five</md-option>
                        <!-- <md-option data-ng-init="init()" ng-repeat="channel in vm.channels"
                                    value="{{channel.id_channel}}">{{channel.title}}
                         </md-option>-->
                    </md-select>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            <span>Route Delivery Type</span>
                        </div>
                    </div>
                </md-input-container>


                <md-input-container>
                    <label translate>Route Visit Frequency</label>
                    <md-select placeholder="Route Visit Frequency"
                               ng-model="vm.item.route_visit_frequency_id"
                               class="dialog-close" name="task"
                               required>

                        <md-option value="1">One</md-option>
                        <md-option value="2">Two</md-option>
                        <md-option value="3">Three</md-option>
                        <md-option value="4">Four</md-option>
                        <md-option value="5">Five</md-option>
                        <!--  <md-option data-ng-init="init()" ng-repeat="channel in vm.channels"
                                     value="{{channel.id_channel}}">{{channel.title}}
                          </md-option>-->
                    </md-select>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            <span>Please Select Route Visit Frequency</span>
                        </div>
                    </div>
                </md-input-container>
            </form>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="vm.cancel()">Cancel</md-button>
        <md-button ng-click="vm.hide()" class="md-primary" ng-disabled="taskForm.$invalid">Ok
        </md-button>
    </div>
</md-dialog>

</form>
</div>

