<div>
    <md-data-table-container>
        <table md-data-table class="md-primary md-data-table">
            <thead md-order="vm.query.order">
            <tr>
                <th name="Route Name" order-by="title"></th>
                <th name="Outlets" order-by="retail_outlet_counts"></th>
                <th name="Route Category"></th>
                <th name="Route Visit Type"></th>
                <th name="Visit Frequency"></th>
                <td>
                    <md-menu>
                        <md-button class="md-icon-button" aria-label="open menu" ng-click="$mdOpenMenu()">
                            <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button ng-click="vm.setShowMap()">
                                    <md-icon md-font-icon="zmdi zmdi-settings"
                                    ></md-icon>
                                    Map View
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="$mdCloseMenu">
                                    <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                                    Details
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                </td>
            </thead>
            <tbody ng-repeat="route in vm.routes| orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
            <tr ng-click="vm.toggleInnerTableOutlet('route-{{route.id_route}}')">
                <!--
                                        <td>{{route.id_route}}</td>
                -->
                <td ng-class="{true:'icon-toggle'}[route.retail_outlets.length > 0]">
                    {{route.title}}
                </td>
                <td>{{route.retail_outlets.length}}</td>
                <td>{{route.route_visit_category_title}}</td>
                <td>{{route.route_visit_type_title}}</td>
<!--
                <td>{{route.route_delivery_type_title}}</td>
-->
                <td>{{route.route_visit_frequency_title}}</td>

<!--
                <td name="Scheduled Visit"></td>
-->
                <td>
                    <md-menu>
                        <md-button class="md-icon-button" aria-label="open menu" ng-click="$event.stopPropagation();$mdOpenMenu()">
                            <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button ng-click="vm.UpdateRoute(vm.routes.indexOf(route))">
                                    <md-icon md-font-icon="zmdi zmdi-settings"
                                    ></md-icon>
                                    Edit
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="$mdCloseMenu">
                                    <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                                    Details
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                        </md-menu>
                        <!--  <md-button class="md-icon-button" aria-label="open menu"
                                     ng-click="vm.UpdateRoute(vm.routes.indexOf(route))">
                              <md-icon
                                      md-font-icon="zmdi zmdi-more-vert"></md-icon>
                          </md-button>-->
                </td>
            </tr>
            <tr ng-if="route.retail_outlets.length" id="route-{{route.id_route}}" class="hide inner-table">
                <td colspan="6" style="background: #ffffff; padding: 0px;">
                    <md-data-table-container>
                        <table md-data-table class="md-primary md-data-table" >
                            <thead md-order="vm.query.order">
                            <tr style="background-color:#F5F5F5">
                                <th class="table-nopadding-child" class="ng-isolate-scope">
                                    <md-checkbox ng-model="checkboxes.default"
                                                 aria-label="Default Checkbox">
                                    </md-checkbox>
                                </th>
                                <th name="Outlet Name" order-by="retailoutlet_title"></th>
                                <th name="Channel/Category" order-by="category_title"></th>
                                <th name="Location" order-by="channel_title"></th>
                                <th class="table-nopadding-child">
                                    <md-button class="md-icon-button" aria-label="open menu"
                                               ng-click="vm.UpdateRetailOutlet(vm.retailoutlets.indexOf(retailOutlet))">
                                        <md-icon
                                                md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                    </md-button>
                                </th>
<!--
                                <th name="Location" order-by="channel_title"></th>
-->

                                <!--                                          <th name="Quantity" order-by="status"></th>
                                                                          <th name="Rate" order-by="created_at" decend-first></th>
                                                                          <th name="Order Value" order-by="created_at" decend-first></th>
                                                                          <th class="table-nopadding-child" name=""></th>
                             --> </tr>
                            </thead>
                            <tbody>
                            <div style="padding: 0 28px 0 24px;">
                                <tr ng-repeat="retailoutlet in route.retail_outlets">
                                    <td>
                                        <md-checkbox ng-model="checkboxes.default"
                                                     aria-label="Default Checkbox">
                                        </md-checkbox>
                                    </td>
                                    <td>{{retailoutlet.retailoutlet_title}}</td>
                                    <td>{{retailoutlet.category_title}}</td>
                                    <td>{{retailoutlet.channel_title}}</td>
                                    <td style="text-align: center;;">


                                        <md-button class="md-icon-button" aria-label="open menu"
                                                   ng-click="vm.UpdateRetailOutlet(vm.retailoutlets.indexOf(retailOutlet))">
                                            <md-icon
                                                    md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </md-data-table-container>
                    <div style="background-color:#F5F5F5; text-align: right; position:relative;box-shadow: 0px -1px 4px #888888;">

                        <md-button style="color:red; background: rgba(0,0,0,0.12);" aria-label="flat button">DONE</md-button>
                        <md-button style="color:red;background: rgba(0,0,0,0.12);" ng-class="md-primary" aria-label="flat button">
                            CANCEL
                        </md-button>

                        <!--

                                                            <md-button class="md-raised" ng-class="md-primary md-default" aria-label="raised button">DONE</md-button>
                                                                <md-button class="md-raised" ng-class="md-primary md-default" aria-label="raised button">MARK AS INVOICED</md-button>
                                                       -->
                    </div>
                </td>
            </tr>


            </tbody>
        </table>
    </md-data-table-container>
    <md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page"
                              md-total="{{vm.routes.length}}"></md-data-table-pagination>
</div>
<!--        </tri-widget>
    </div>
</div>-->


<!--<div ng-controller="RouteListController as vm">
&lt;!&ndash;    <md-data-table-toolbar>
        <h4 class="md-title">Route Configurations</h4>

        <div flex></div>
    </md-data-table-toolbar>&ndash;&gt;

&lt;!&ndash;        <md-data-table-toolbar>

            <div flex="30" class="margin-right-30">
                    <md-select placeholder="Town" ng-model="numCakes">
                        <md-option value="1">One</md-option>
                        <md-option value="2">Two</md-option>
                        <md-option value="3">Three</md-option>
                        <md-option value="4">Four</md-option>
                    </md-select>
            </div>
            <div flex="30" class="margin-right-30">
                    <md-select placeholder="Distributor" ng-model="numCakes">
                        <md-option value="1">One</md-option>
                        <md-option value="2">Two</md-option>
                        <md-option value="3">Three</md-option>
                        <md-option value="4">Four</md-option>
                    </md-select>
            </div>

            <div flex="30" class="margin-right-30">
                    <md-input-container md-no-float>
                        <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
                        <input type="text" placeholder="Search Outlets">
                    </md-input-container>
            </div>

        </md-data-table-toolbar>&ndash;&gt;

    <md-data-table-container>
        <table md-data-table class="md-primary md-data-table">
            <thead>
            <tr>
                <th name="Route Name"></th>
                <th name="Distributor"></th>
                <th name="Scheduled Visit"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="route in vm.routes">

                <td>
                    <a href="">{{route.title}}</a>
                </td>
                <td>{{route.route_delivery_type_id}}</td>
&lt;!&ndash;                <td>{{::user.id}}</td>
                <td>{{::user.login}}</td>&ndash;&gt;
            </tr>
            </tbody>
        </table>
    </md-data-table-container>
        <md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page"
                                  md-total="{{vm.routes.total_count}}"
                                  md-trigger="vm.getRoutes"></md-data-table-pagination>
</div>-->

