<div class="dashboard-social-header padding-20 padding-top-100 overlay-gradient-30" layout="row" layout-align="start center" style="background: url(images/backgrounds/material-backgrounds/mb-bg-02.jpg) no-repeat; background-size: cover;">
    <div class="margin-right-20">
        <img src="images/avatars/avatar-5.png" alt="no-avatar" class="make-round" width="100"/>
    </div>
    <div class="text-light">
        <h3 class="font-weight-600 margin-bottom-0 text-light">Binita Maharjan</h3>
        <p class="font-weight-300 margin-top-0 margin-bottom-0">House Wife, Tomato Farmer</p>
        <p class="font-weight-300 margin-top-0 margin-bottom-0">+977 9841532627</p>
        <p class="margin-top-0"><md-icon md-font-icon="zmdi zmdi-pin color-inherit"></md-icon> Bhaktapur, Nepal</p>
    </div>
</div>
<md-tabs md-dynamic-height md-border-bottom class="tabs-tall">
    <md-tab>
        <md-tab-label layout="column">
            <span>Vendor</span>
        </md-tab-label>
        <md-tab-body>
            <div layout="row" layout-sm="column">
                <table md-data-table class="md-primary md-data-table" md-progress="vm.deferred">
                    <tbody>
                    <tr>
                        <td>Eliza Gautam</td>
                        <td>Compost Fertilizer Dealer</td>
                    </tr>
                    <tr>
                        <td>Robishna Amatya</td>
                        <td>Nursery Manager</td>
                    </tr>
                    <tr>
                        <td>Anjana Shrestha</td>
                        <td>Agriculture Engineer</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label layout="column">
            <span>Customer</span>
        </md-tab-label>
        <md-tab-body>
            <div layout="row" layout-sm="column">
                <table md-data-table class="md-primary md-data-table" md-progress="vm.deferred">
                    <tbody>
                    <tr>
                        <td>Rima Gautam</td>
                        <td>Momo Shop Manager</td>
                    </tr>
                    <tr>
                        <td>Rekha Thapa</td>
                        <td>Pickle Maker</td>
                    </tr>
                    <tr>
                        <td>Namrata Shrestha</td>
                        <td>Ketchup Industry CEO</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </md-tab-body>
    </md-tab>

</md-tabs>

