<!--<div class="dashboard-social-header padding-20 padding-top-100 overlay-gradient-30" layout="row" layout-align="start center" style="background: url(assets/images/backgrounds/material-backgrounds/mb-bg-02.jpg) no-repeat; background-size: cover;">-->
    <!--<div class="margin-right-20">-->
        <!--<img src="assets/images/avatars/avatar-5.png" alt="girl-avatar" class="make-round" width="100"/>-->
    <!--</div>-->
    <!--<div class="text-light">-->
        <!--<h3 class="font-weight-600 margin-bottom-0 text-light">Christos Varoufakis</h3>-->
        <!--<p class="font-weight-300 margin-top-0 margin-bottom-0">Web Designer, Eroticist and Spy</p>-->
        <!--<p class="margin-top-0"><md-icon md-font-icon="zmdi zmdi-pin color-inherit"></md-icon> Athens, Greece</p>-->
    <!--</div>-->
<!--</div>-->
<md-tabs md-dynamic-height md-border-bottom class="tabs-tall">
    <md-tab>
        <md-tab-label layout="column">
            <span>Story</span>
            <span class="display-block">11.4K</span>
        </md-tab-label>
        <md-tab-body>
            <div layout="row" layout-sm="column">
                <tri-widget layout-margin flex="50" flex-sm="100" avatar="assets/images/avatars/avatar-5.png" palette-background="blue:800" title="Christos Varoufakis" subtitle="@christos - 11h" title-position="top" content-layout-align="start center" content-layout="column">
                    <div linkify="twitter" class="font-weight-300 md-headline font-style-italic line-height-big margin-bottom-20 padding-normal" >
                        Ut at iaculis elit. Aliquam non massa ac mi faucibus dictum non ac purus. Suspendisse imperdiet, mi ac volutpat porttitor, diam quam finibus libero, vitae hendrerit turpis turpis vitae ligula. Nunc sed lorem odio. Praesent ultrices interdum ex, nec facilisis turpis semper ac. Aliquam vestibulum vulputate mauris sit amet sollicitudin. Phasellus et orci ultrices, posuere velit sit amet, suscipit metus. Praesent scelerisque a dolor in accumsan. Nulla mattis a metus sed eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer imperdiet ultrices neque, sit amet commodo magna venenatis vel. Praesent arcu nulla, accumsan vel risus a, auctor faucibus arcu.
                    </div>
                    <img src="assets/images/dashboards/tweet.jpg" alt="some image">
                </tri-widget>
                <div flex layout="column">
                    <tri-widget layout-margin flex palette-background="blue:500" avatar="assets/images/avatars/avatar-2.png" title="Kate Smith" subtitle="@christos - 12h" title-position="top">
                        <div linkify="twitter" class="font-weight-300 md-title font-style-italic line-height-big padding-normal">
                            Ut at iaculis elit. Aliquam non massa ac mi faucibus dictum non ac purus. Suspendisse imperdiet, mi ac volutpat porttitor, diam quam finibus libero, vitae hendrerit turpis turpis vitae ligula. Nunc sed lorem odio. Praesent ultrices interdum ex, nec facilisis turpis semper ac. Aliquam vestibulum vulputate mauris sit amet sollicitudin. Phasellus et orci ultrices, posuere velit sit amet, suscipit metus. Praesent scelerisque a dolor in accumsan. Nulla mattis a metus sed eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer imperdiet ultrices neque, sit amet commodo magna venenatis vel. Praesent arcu nulla, accumsan vel risus a, auctor faucibus arcu.
                        </div>
                    </tri-widget>
                    <tri-widget layout-margin flex palette-background="light-blue:500" avatar="assets/images/avatars/avatar-6.png" title="Jane Smith" subtitle="@christos - 14h" title-position="top">
                        <div linkify="twitter" class="font-weight-300 md-title font-style-italic line-height-big padding-normal">
                            Ut at iaculis elit. Aliquam non massa ac mi faucibus dictum non ac purus. Suspendisse imperdiet, mi ac volutpat porttitor, diam quam finibus libero, vitae hendrerit turpis turpis vitae ligula. Nunc sed lorem odio. Praesent ultrices interdum ex, nec facilisis turpis semper ac. Aliquam vestibulum vulputate mauris sit amet sollicitudin. Phasellus et orci ultrices, posuere velit sit amet, suscipit metus. Praesent scelerisque a dolor in accumsan. Nulla mattis a metus sed eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer imperdiet ultrices neque, sit amet commodo magna venenatis vel. Praesent arcu nulla, accumsan vel risus a, auctor faucibus arcu.
                        </div>
                    </tri-widget>
                    <tri-widget layout-margin flex palette-background="triCyan:500" avatar="assets/images/avatars/avatar-5.png" title="Christos Varoufakis" subtitle="@christos - 16h" title-position="top">
                        <div linkify="twitter" class="font-weight-300 md-title font-style-italic line-height-big padding-normal">
                            Ut at iaculis elit. Aliquam non massa ac mi faucibus dictum non ac purus. Suspendisse imperdiet, mi ac volutpat porttitor, diam quam finibus libero, vitae hendrerit turpis turpis vitae ligula. Nunc sed lorem odio. Praesent ultrices interdum ex, nec facilisis turpis semper ac. Aliquam vestibulum vulputate mauris sit amet sollicitudin. Phasellus et orci ultrices, posuere velit sit amet, suscipit metus. Praesent scelerisque a dolor in accumsan. Nulla mattis a metus sed eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer imperdiet ultrices neque, sit amet commodo magna venenatis vel. Praesent arcu nulla, accumsan vel risus a, auctor faucibus arcu.
                        </div>
                    </tri-widget>
                </div>
            </div>
            <div layout="row" layout-sm="column">
                <tri-widget layout-margin flex palette-background="indigo:500" avatar="assets/images/avatars/avatar-1.png" title="Manos Proistakis" subtitle="@christos - 16h" title-position="top">
                    <div linkify="twitter" class="font-weight-300 md-title font-style-italic line-height-big padding-normal">
                        Don't miss our latest Angular Material Design Admin Template: http://goo.gl/0Yxm1U  #angularJS #material #webdesign
                    </div>
                </tri-widget>
                <tri-widget layout-margin flex palette-background="deep-purple:500" avatar="assets/images/avatars/avatar-4.png" title="Despoina" subtitle="@christos - 16h" title-position="top">
                    <div linkify="twitter" class="font-weight-300 md-title font-style-italic line-height-big padding-normal">
                        New Freebie! Material Design Image fonts! In high res png's http://goo.gl/j1fWZz  #MaterialDesign #webdesign
                    </div>
                </tri-widget>
                <tri-widget layout-margin flex palette-background="purple:500" avatar="assets/images/avatars/avatar-1.png" title="Manos Proistakis" subtitle="@christos - 16h" title-position="top">
                    <div linkify="twitter" class="font-weight-300 md-title font-style-italic line-height-big padding-normal">
                        Triangular 1.1.2 our new #AngularJS admin template is out now!  FAB Speed Dial & FAB Toolbar added. Enjoy!
                    </div>
                </tri-widget>
            </div>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label layout="column">
            <span>Inspiring Stories</span>
            <span class="display-block">3,220</span>
        </md-tab-label>
        <md-tab-body>
            <div layout="row" layout-sm="column" layout-margin>
                <tri-widget class="widget-follower" flex content-layout="column" content-layout-align="center start">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-26.jpg" alt="some bg" class="display-block">
                        <img src="assets/images/avatars/avatar-2.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title margin-0">Morris Onions</h4>
                        <p class="md-caption margin-0">@morris</p>
                        <p class="md-body-1">Senior Software Test Engineer at Progressive, Indie Game Developer, Cleveland Game Devs member, a cyberpunk before it was cool & a geek Dad.</p>
                    </div>
                </tri-widget>
                <tri-widget class="widget-follower" flex content-layout="column" content-layout-align="center start">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-12.jpg" alt="some bg" class="display-block">
                        <img src="assets/images/avatars/avatar-6.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title margin-0">Sam Cook</h4>
                        <p class="md-caption margin-0">@scook</p>
                        <p class="md-body-1">Intermediary acquisition customer-facing return on investment customer-facing conscientious outsourcing incrementally increasing sales experienced and confident.</p>
                    </div>
                </tri-widget>
                <tri-widget class="widget-follower" flex content-layout="column" content-layout-align="center start">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-30.jpg" alt="some bg" class="display-block">
                        <img src="assets/images/avatars/avatar-5.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title margin-0">Manos proistakis</h4>
                        <p class="md-caption margin-0">@proistak</p>
                        <p class="md-body-1">Recruiting key personnel effective management and mentoring of the team acquiring new clients maximised returns in short time frame. </p>
                    </div>
                </tri-widget>
            </div>
            <div layout="row" layout-sm="column" layout-margin>
                <tri-widget class="widget-follower" flex content-layout="column" content-layout-align="center start">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-40.jpg" alt="some bg" class="display-block">
                        <img src="assets/images/avatars/avatar-6.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title margin-0">Jane Onions</h4>
                        <p class="md-caption margin-0">@morris</p>
                        <p class="md-body-1">Entrepreneurial, brand strategy key relationship management cross-functional; handling customer complaints. Preparing financial data going to the cinema dynamic self starter easy to work with. </p>
                    </div>
                </tri-widget>
                <tri-widget class="widget-follower" flex content-layout="column" content-layout-align="center start">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-07.jpg" alt="some bg" class="display-block">
                        <img src="assets/images/avatars/avatar-4.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title margin-0">Christine Jackson</h4>
                        <p class="md-caption margin-0">@scook</p>
                        <p class="md-body-1">Presenting to senior management streamlined operations outside the box. Incrementally increasing sales customer-centric, commercially minded increased revenue customer-facing.</p>
                    </div>
                </tri-widget>
                <tri-widget class="widget-follower" flex content-layout="column" content-layout-align="center start">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-18.jpg" alt="some bg" class="display-block">
                        <img src="assets/images/avatars/avatar-1.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title margin-0">John Langan</h4>
                        <p class="md-caption margin-0">@proistak</p>
                        <p class="md-body-1">Recruiting key personnel effective management and mentoring of the team acquiring new clients maximised returns in short time frame. </p>
                    </div>
                </tri-widget>
            </div>
        </md-tab-body>
    </md-tab>

</md-tabs>

