<div class="todo-container">
    <div layout-fill layout="row" layout-align="center center">
        <tri-widget flex="95" flex-sm="90" class="margin-top-30 margin-bottom-30" title="" content-layout="column"
                    content-layout-align="center">

            <md-select placeholder="Select Resource" ng-model="vm.item.resource_id" md-on-open="loadUsers()" ng-change="vm.filterUser()"
                       style="width: 200px;">
                <md-option ng-value="resources.id_resource" ng-repeat="resources in vm.resources">{{resources.title}}</md-option>
            </md-select>

            <md-data-table-container>
                <table md-data-table class="md-primary md-data-table" md-progress="vm.deferred">
                    <thead md-order="vm.query.order" md-trigger="vm.getBusinessUnit">
                    <tr>
                        <th name="Name" order-by="name"></th>
                        <th name="Address" order-by="address"></th>
                        <th name="Contact Number" order-by="contact_name"></th>
                        <th name="Occupation" order-by="occupation"></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="businessUnit in vm.businessUnits| orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                        <td ng-click="vm.detailView(businessUnit)">{{businessUnit.first_name}}
                            {{businessUnit.last_name}}
                        </td>
                        <td>{{businessUnit.address}}</td>
                        <td>{{businessUnit.mobile_number}}</td>
                        <td>{{businessUnit.occupation}}</td>


                        <td>

                            <md-menu>
                                <md-button class="md-icon-button" aria-label="open menu"
                                           ng-click="$mdOpenMenu()">
                                    <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                </md-button>
                                <!--<md-menu-content width="3">-->
                                <!--<md-menu-item>-->
                                <!--<md-button ng-click="vm.editBU(vm.businessUnits.indexOf(businessUnit))">-->
                                <!--<md-icon md-font-icon="zmdi zmdi-settings"></md-icon>-->
                                <!--Edit-->
                                <!--</md-button>-->
                                <!--</md-menu-item>-->
                                <!--<md-menu-item>-->
                                <!--<md-button ng-click="$mdCloseMenu">-->
                                <!--<md-icon md-font-icon="zmdi zmdi-account"></md-icon>-->
                                <!--Delete-->
                                <!--</md-button>-->
                                <!--</md-menu-item>-->
                                <!--</md-menu-content>-->
                            </md-menu>
                        </td>
                        <td>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </md-data-table-container>
            <md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page"
                                      md-total="{{vm.businessUnits.length}}"></md-data-table-pagination>
        </tri-widget>
    </div>
</div>
