<div class="padded-content-page">
    <div ng-controller="ResourceController as vm">
        <md-data-table-toolbar ng-show="vm.filter.show && !vm.selected.length" class="md-data-table-toolbar">
            <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
            <form flex="" name="vm.filter.form">
                <input type="text" ng-model="vm.query.filter" ng-model-options="vm.filter.options" placeholder="search">
            </form>
            <md-button class="md-icon-button" ng-click="vm.removeFilter()">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </md-data-table-toolbar>

        <md-data-table-container>
            <table md-data-table class="md-primary md-data-table" md-progress="vm.deferred">
                <thead md-order="vm.query.order" md-trigger="vm.resources">
                <tr>
                    <th order-by="id_resource" name="Serial No"></th>
                    <th order-by="title" name="Title"></th>
                    <th order-by="status" name="Status"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <tr md-auto-select ng-repeat="resources in vm.resources">
                    <td>{{resources.id_resource}}</td>
                    <td>{{resources.title}}</td>
                    <td>
                    <md-switch aria-label="Warn Switch" ng-change="vm.activateDeactivate($event, resources)"
                    class="md-primary" ng-model="resources.status">
                    </md-switch>
                    </td>
                    <td>
                        <!--  <td>{{::user.created_at | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</td>-->
                        <md-menu>
                            <md-button class="md-icon-button" aria-label="open menu"
                                       ng-click="$mdOpenMenu()">
                                <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                            </md-button>
                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="vm.updatePrincipal(vm.resources.indexOf(resources))">
                                        <md-icon md-font-icon="zmdi zmdi-settings"></md-icon>
                                        Edit
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="$mdCloseMenu">
                                        <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                                        Delete
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-data-table-container>
        </md-data-table-container>
        <md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.resources.length}}">

        </md-data-table-pagination>


    </div>
</div>
